doctype html
html
    head
        title= title
        link(rel="stylesheet", href="/stylesheets/posts.css")
        link(rel='stylesheet' href='/stylesheets/comments.css')
        link(rel='stylesheet' href='/stylesheets/add-post.css')
        link(rel='stylesheet' href='/stylesheets/user.css')
    body 
        header 
            div(class='user-cont')
                div(class='user-pic pic-big' style=`background-image: url('${person.pic ? person.pic : '/images/person.png'}');`)
                    if person.username === user.username 
                        button(id='edit-pic')
                            img(id='close' src='/images/camera-icon.webp')
                        
                        div(class='edit-pic-cont')
                            form(class='edit-pic-form')
                                div(class='edit-pic-form-head')
                                    h3 Add profile Picture
                                    button(type='button' id='close-pic')
                                        img(src='/images/x-icon.svg')
                                div(class='edit-pic-form-body')
                                    div(class='drag-zone-pic')
                                        div(class='drop-area-pic')
                                            span Add picture / drag and drop 
                                        input(name='pic' type="file" id='upload-pic')
                                    button(class='submit-btn') Save

                        script(src='/javascripts/upload-pic.js')
                h1= person.username 
                p= `${person.friends.length} friends`
            if person._id.toString() !== user._id.toString()
                div(class='from-cont')
                    if user.friends.indexOf(person._id) !== -1
                        form(action=`/users/${person_id}/unfriend` method='POST')
                            button(class="btn neg" type="submit") Unfriend 
                    else if user.receivedRequests.indexOf(person._id) !== -1
                        form(action=`/users/${person._id}/add-friend` method='POST')
                            button(class="btn" type="submit") Add Friend
                        form(action=`/users/${person._id}/reject-friend` method='POST')
                            button(class="btn neg" type="submit") Reject Friend
                    else if user.sentRequests.indexOf(person._id) !== -1
                        form(action=`/users/${person._id}/remove-request` method='POST')
                            button(class="btn neg" type="submit") Remove Request
                    else 
                        form(action=`/users/${person._id}/send-request` method='POST')
                            button(class="btn" type="submit") Send Request
            else
                form(action=`/log-out` method='POST')
                    button(class="btn" type="submit") Log out
            hr
            div(class='options')
                a(href=`/users/${person._id}`) Posts 
                a(href=`/users/${person._id}/about`) About
                a(href=`/users/${person._id}/friends`) Friends 
        block content
        