extends index-layout 

block content
    div(class="exp")
    link(rel='stylesheet' href='/stylesheets/all-users.css')
    link(rel='stylesheet' href='/stylesheets/all-users-responsive.css')
    div(class='cont-wrap')
        div(class='cont')
            for u in users 
                if u._id.toString() !== user._id.toString()
                    div(class='card')
                        div(class='u-img' style=`background-image: url(${u.pic ? u.pic : '/images/person.png'})`)
                        div(class='u-opts')
                            p 
                                a(href=`/users/${u._id}`)= u.username
                            if user.friends.indexOf(u._id) !== -1
                                form(action=`/users/${u_id}/unfriend` method='POST')
                                    button(class="btn neg" type="submit") Unfriend 
                                button(class="btn neg") Remove
                            else if user.receivedRequests.indexOf(u._id) !== -1
                                form(action=`/users/${u._id}/add-friend` method='POST')
                                    button(class="btn" type="submit") Add Friend
                                form(action=`/users/${u._id}/reject-friend` method='POST')
                                    button(class="btn neg" type="submit") Reject Friend
                            else if user.sentRequests.indexOf(u._id) !== -1
                                form(action=`/users/${u._id}/remove-request` method='POST')
                                    button(class="btn neg" type="submit") Remove Request
                                button(class="btn neg") Remove
                            else 
                                form(action=`/users/${u._id}/send-request` method='POST')
                                    button(class="btn" type="submit") Send Request
                                button(class="btn neg") Remove
    
