doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/index.css')
    link(rel='stylesheet' href='/stylesheets/comments.css')
    link(rel="stylesheet" href="/stylesheets/index-responsive.css")
  body
    header
      div(class='nav-start') 
        img(class='logo' src='/images/logo.png')
        div(class="search-cont")
          img(class='srch-icon' src='/images/search-icon.svg')
          input(type='text' name='users' placeholder='Search Facebook')

      ul 
        li(class='in') 
          a(href='/')
            img(class='home-icon' src='/images/home-icon.png')
        li 
          a(href='/users')
            img(class='friends-icon' src='/images/friends-icon.png')
        li 
          img(class="watch-icon" src='/images/watch-icon.png')
        li 
          img(class="games-icon" src='/images/game-icon.png')
      
      div(class='nav-end')   
        div(class='img-cont')
          img(class="messenger-icon" src="/images/messenger-icon.webp")
        a(href=`/users/${user._id}` class='img-cont user-cont')
          img(class="user-pic" src=`${user.pic ? user.pic : '/images/person.png'}`)


    div(class="left")
      div
        img(class='user-pic' src=`${user.pic ? user.pic : '/images/person.png'}`)
        a(href=`/users/${user._id}`)
          p= user.username 
      div 
        img(class='find-friends-icon')
        p Find Friends
    
    main(data-user=JSON.stringify(user)) 
      div(class='add-post-cont')
        div(class='add-post')
          img(class='user-pic' src=`${user.pic ? user.pic : '/images/person.png'}`)
          div(class="search-cont")
            img(class='srch-icon' src='/images/search-icon.svg')
            input(type='text' name='text' placeholder="What's on your mind?")
        hr
        div(class='post-opt opt')
          img(src='/images/video-icon.png')
          p Live Video 
        div(class='post-opt opt')
          img(src='/images/photo-icon.png')
          p Photo/Video
        div(class='post-opt opt')
          img(src='/images/smile-icon.png')
          p Feeling Activity
      
      div(class='add-background')
        form(class='add-post-form')
          div(class='add-post-form-header')  
            h3 Create post
            button(type='button' id='close')
              img(src='/images/x-icon.svg') 

          div(class='form-body')  
            div(class='form-head')
              img(class='user-pic' src=`${user.pic ? user.pic : '/images/person.png'}`)
              p= user.username 
            textarea(name="text" placeholder=`What's on your mind, ${user.username}?`)
            div(class='drag-zone')
              div(class='drop-area')
                span Add photos / drag and drop 
              input(name='pic' type="file" id='upload')

            button(class='submit-btn' type='submit') Post
      
      for post in posts 
        div(class='post-background' id=`${post._id.toString()}`)
          div(class='post-cont')
            h2= `${post.user.username}'s Post`
            div(class='post-dis')
              div(class='post-big')
                div(class='post-head')
                  img(class='user-pic' src=`${post.user.pic ? post.user.pic : '/images/person.png'}`)
                  a(href=`/users/${post.user._id}`)
                    p= post.user.username 
                  p= post.date 
                  button(class='close')
                    img(src='/images/x-icon.svg')
                    
                p(class='content')= post.text
                if post.pic 
                  img(class='post-pic' src=post.pic)
                div(class='post-footer')
                  div(class='like-cont')
                    img(src='/images/likes-icon.png')
                    p= post.likes 
                  p(class='com-len')= post.comments.length !== 1 ? `${post.comments.length} comments` : '1 comment'
                  hr
                  div(id='like' class='opt')
                    img(src='/images/like-icon.png')
                    p= `${user.likedPosts.indexOf(post._id) !== -1 ? "Unlike" : "Like"}` 
                  div(class='opt' id='comments')
                    img(src='/images/comment-icon.png')
                    p Comment
                  div(class='opt')
                    img(src='/images/share-icon.png')
                    p Share
              div(class='comments')
                for comment in post.comments.reverse() 
                  div(class='comment-cont' id=comment._id)
                    img(class='user-pic' src=`${comment.user.pic ? comment.user.pic : '/images/person.png'}`)
                    div(class='comment-body')
                      a(href=`/users/${comment.user._id}`)  
                        h4= comment.user.username 
                      p= comment.text 
                      div(class='like-cont')
                        img(src='/images/likes-icon.png')
                        p(id="comment-likes")=  `${comment.likes}`
                    div(class='comment-opts')
                      p(id='comment-like')=`${user.likedComments.indexOf(comment._id) !== -1 ? "Unlike" : "Like"}`
                      p(id='reply' data-comment=JSON.stringify(comment) data-replyingto=JSON.stringify(comment.user)) Reply
                    hr(class='comment-hr' style=`display: ${comment.replies.length > 0 ? '' : 'none'};`)
                    div(class='replies')
                      for reply in comment.replies
                        div(class='comment-cont')
                          img(class='user-pic' src=`${reply.user.pic ? reply.user.pic : '/images/person.png'}`)
                          div(class='comment-body')
                            a(href=`/users/${reply.user._id}`)  
                              h4= reply.user.username 
                            p 
                              a(href=`/users/${reply.replyingTo._id}`)= "@" + reply.replyingTo.username + " "
                              | #{reply.text}
                            div(class='like-cont')
                              img(src='/images/likes-icon.png')
                              p(id="reply-likes")= `${reply.likes}`   
                          div(class='comment-opts')
                            p(class='reply-like' id=`${reply._id}`)=`${user.likedReplies.indexOf(reply._id) !== -1 ? "Unlike" : "Like"}`
                            p(id='reply' data-comment=JSON.stringify(comment) data-replyingto=JSON.stringify(reply.user)) Reply

            form(class='add-comment')
              img(class='user-pic' src=`${user.pic ? user.pic : '/images/person.png'}`)
              div(class="search-cont")
                input(type='text' name='text' placeholder="Write a comment.")


    div(class='right')
      if user.receivedRequests.length > 0
        p Friend Requests 
        hr
        for friend in user.receivedRequests
          div   
            img(class='user-pic' src=`${friend.pic ? friend.pic : '/images/person.png'}`)
            a(href=`/users/${friend._id}`)  
              p= friend.username
            div(style="flex: 1;")
            div
              form(action=`/users/${friend._id}/add-friend` method='POST')
                button(type="submit" class="btn") Add Friend 
              form(action=`/users/${friend._id}/reject-friend` method='POST')
                button(type="submit" class="btn neg") Reject Request  

      p Contacts 
      hr
      for friend in user.friends 
        div
          img(class='user-pic' src=`${friend.pic ? friend.pic : '/images/person.png'}`)
          a(href=`/users/${friend._id}`)  
            p= friend.username 
      if user.friends.length === 0
        p No available contacts.

  script(src='/javascripts/comments.js')
  script(src='/javascripts/upload.js')